<!-- views/applications/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Skatespots</title>
  </head>
  <body>
    <!-- views/applications/index.ejs -->

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Skatespots</h1>
    <a href="/users/<%=user._id%>/spots/new"></a>
  </body>
  
   
    </body>
</html>
